<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- TemplateBeginEditable name="doctitle" -->
<title>无标题文档</title>
<!-- TemplateEndEditable -->
<!-- TemplateBeginEditable name="head" -->
<!-- TemplateEndEditable -->
</head>
<table border="1" align="center">
<body>
<h1 align="center">添加图书
</h1>
<form id="form1" method="post" action="/add/">
  <p align="center">作者
    <input type="text" name="AN" />
  </p>
  <p align="center">作者年龄
    <input type="text" name="AA" />
  </p>
  <p align="center">ID 
    <input type="text" name="AID" />
  </p>
  <p align="center">书名
    <input type="text" name="BT" />
  </p>
  <p align="center">作者国籍
    <input type="text" name="AC" />
  </p>
  <p align="center">价格
    <input type="text" name="BP"  />
  </p>
  <p align="center">ISBN
    <input type="text" name="BI" />
  </p>
  <p align="center">出版时间
    <input type="text" name="BPD"  />
  </p>
  <p align="center">出版社
    <input type="text" name="BPE"  />
  </p>
  <p align="center">
    <input type="submit" value="确定" />
  </p>
</form>
<p align="center">&nbsp;</p>
</body>
</html>
