<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
</head>

<body>
<h1 align="center">图书管理
</h1>
<form id="form2" name="form2" method="get" action="/search/">
  <div align="center">
    <input type="text" name="searchname" id="textfield" />
    <input type="submit" name="button2" id="button2" value="搜索" />
  </div>
</form>

  <table width="1656" border="1">
    <tr>
      <th scope="col">作者</th>
      <th scope="col">作者年龄</th>
      <th scope="col">ID</th>
      <th scope="col">书名</th>
      <th scope="col">ISBN</th>
      <th scope="col">出版社</th>
      <th scope="col">出版时间</th>
      <th scope="col">作者国籍</th>
      <th scope="col">价格</th>
    </tr>
    {%for book in book_list%}
    <tr>
      <th height="28" scope="col">{{book.AuthorID.Name}}</th>
      <th scope="col">{{book.AuthorID.Age}}</th>
      <th scope="col">{{book.AuthorID.AuthorID}}</th>
      <th scope="col"><a href="/information/?ID={{book.ISBN}}">{{book.Title}}</a></th>
      <th scope="col">{{book.ISBN}}</th>
      <th scope="col">{{book.Publisher}}</th>
      <th scope="col">{{book.Publishdate}}</th>
      <th scope="col">{{book.AuthorID.Country}}</th>
      <th scope="col">{{book.Price}}</th>
      <th scope="col"><a href="/delete/?ID={{book.ISBN}}">删除</a></th>
    </tr>
    {%endfor%}
  </table>


  <div align="center">
  <a href='/addbook/'>添加</a>
  </div>

</body>
</html>
